:root {
  --red: #d13e4d;
  --blue: #0190d1;
  --yellow: #f1b61d;
  --green: #038f45;
  --orange:#e85d08;
  --grey: #a3a3a3;
  --nav__width: 1170px;
}
body {
    max-width: 1920px;
    background:#666;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing:  border-box;
}
html {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    color: #333333;
}
/* common function */
.container {
    display: flex;
    align-items:center;
}
li {
    list-style-type: none;
}
a:hover {
    opacity: 0.5;
}
li > a {
    text-decoration: none;
}
.dropdown {
    cursor: default;
}
/* section  */
#header__nav {
    position: absolute;
    z-index: 4;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.main__nav  {
    background-color: white;
    border-radius: 45px;
    height: 90px;
    width: 100vw;
    max-width: var(--nav__width);
    padding: 0 45px;
    margin: auto;
    justify-content: space-between;
}
.nav__logo {
    height: 55px;
}
.nav__logo img {
    height: 100%;
    width: auto;
}
/* nav list */
ul.nav__list {
    margin: flex-end;
}
.nav__list  {
    justify-content: space-between;
    font-size: 20px;
}
.nav__list li a {
    color: #333333;
}
.nav__item {
    margin-left: 50px;
    position: relative;
}
.nav__list > li:nth-child(2):before {
    background: var(--red);
}
.nav__list > li:nth-child(3):before {
    background: var(--yellow);
}
.nav__list > li:nth-child(4):before {
    background: var(--blue);
}
.nav__list > li:nth-child(5):before {
    background: var(--green);
}
.nav__list > li:nth-child(6):before {
    background: var(--red);
}
.nav__list > li ~ li:before {
    content: "";
    position: absolute;
    left: -30px;
    top: 12px;
    display: block;
    height: 9px;
    width: 9px;
    border-radius: 50%;
}
.nav__item .sub__navlist li {
    padding: 10px 20px;
    border-bottom: 1px solid;
    font-size: 14px;
    position: relative;
}
.nav__item .list1 li {
    border-color: var(--yellow);
}
.nav__item .list2 li {
    border-color: var(--blue);
}
.nav__item .sub__navlist {
    position: absolute;
    border: 1px solid;
    border-top: 10px solid;
    background-color: white;
    visibility: hidden;
    transition: all 0.5s ease-out;
}
.nav__item .list1 {
    border-color: var(--yellow);
    width: 138px;
}
.nav__item .list2 {
    border-color: var(--blue);
    width: 200px;
}
.nav__item:hover .list1,
.nav__item:hover .list2 {
    /* visibility: visible; */
}
.sub__navlist li:before {
    content: "";
    display: block;
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px;
    border-color: transparent transparent transparent var(--yellow);
}
.list2 li:before {
    border-color: transparent transparent transparent var(--blue);
}
/* slider main */
#slidermain {
  position: relative;
}

.slider-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* visibility: hidden; */
  width: 100%;
  height: 734px;
  /* background-color: #000; */
  position: relative;
}
.slider-main .slideitem {
  position: relative;
  /* visibility: visible; */
  width: 20%;
  height: 100%;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  background-repeat: no-repeat;
  background-size: cover;
}
/* .slider-main .slideitem span {
  display: block;
  width: 100%;
  height: 734px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
} */
.slider-main .slideitem:not(:hover) {
  flex-shrink: 7;
}
/* .slider-main:hover .slideitem:not(:hover) span {
  background-color: rgba(0, 0, 0, 0.6);
} */
.slider-main .slideitem:hover {
  width: 70%;
}
.slider-main .slideitem h2 {
  font-size: 1.4em;
  padding: 0.5em;
}
.slider-main .slideitem p {
  padding: 0.5em;
}

.headerline {
  text-align: center;
  color: white;
  position: absolute;
  top: 350px;
  width: 100vw;
  max-width: 1200px;
  padding: 0 15px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 20px;
}
.headerline h2.title {
  font-size: 35px;
  margin: 0 0 40px;
  line-height: 1;
}
.headerline h3.subtitle {
  font-size: 24px;
  margin: 0;
  line-height: 1;
}
.slider-button {
  bottom: -25px;
  right: calc(50vw - var(--nav__width) / 2);
  text-align: right;
  width: 150px;
  max-width: var(--nav_width);
  position: absolute;
}
.slider-button a {
  display: inline;
}